<?xml version="1.0" ?>

<launch>
    <include file="$(find cbf_controllers)/launch/common.launch"/>

    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load
          controllers/joint_state_controller
          controllers/duality_controller
"/>

</launch>
